* {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(255, 255, 255);
}

.Main-Wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: monospace;
}

.Header-Nav {
    display: flex;
    height: fit-content;
    background-color: white;
    position: fixed;
    width: 100vw;
    align-items: center;
    border-bottom: black 3px solid;
}

.First-Half h1 {
    color: black;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 5px;
    border-radius: 3px;
    font-size: 25px;
}

.Main-Content-Wrapper {
    margin-top: 50px;
}

.Section-Container {
    margin: 20px;
    padding: 20px;
    border: black 3px solid;
    border-radius: 7px;
    background-color: white;
}

.Sets-Section-Container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.Sets-Section {
    border: black 3px solid;
    border-radius: 7px;
    padding: 10px;
    width: fit-content;
    text-align: center;
    margin: 10px;
}

.Sets {
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px;
}

.S {
    margin-top: 20px;
}

.Set {
    margin: 2px;
}

.Sets-Img {
    border: black 3px solid;
    width: 370px;
}

.Minifigures {
    border: black 3px solid;
    border-radius: 7px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: space-between;
}

.Minifigure {
    background-color: transparent;
    text-align: center;
    border: black 3px solid;
    font-weight: bold;
    margin-top: 5px;
    cursor: pointer;
    height: fit-content;
}

.StartingOnes {
    margin-top: 0;
    display: block;
}

.Minifigure p {
    align-items: center;
    padding: 8px;
}

.Section-Title {
    font-size: 13px;
    margin-bottom: 10px;
}

.Minifigure-Img {
    border-bottom: black 3px solid;
    width: 110px;
}

.Show-More-Btn {
    margin-top: 10px;
    width: 100%;
    border: black 3px solid;
    border-radius: 7px;
    padding: 10px;
    background-color: white;
    font-family: monospace;
    font-weight: bold;
}

.Hide {
    display: none;
}

.Show {
    display: block;
}

.Set-Btn {
    width: 80px;
    padding: 8px;
    margin: 3px;
    background-color: black;
    border: black 3px solid;
    border-radius: 3px;
    color: white;
    font-family: monospace;
    font-weight: bold;
    transition: 0.5s;
}

.Set-Btn:hover {
    background-color: white;
    color: black;
}

.Hero {
    border: none;
    margin-bottom: 0;
    display: none;
}

.Welcome-Img {
    width: 400px;
}

.Hero-Container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 150px;
    margin-top: 0;
    margin-bottom: 0;
}

.Hero-Container h1 {
    font-family: monospace;
    font-size: 50px;
}

.Hero-Container p {
    font-size: 18px;
}