* {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(255, 255, 255);
}

.Main-Wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: monospace;
}

.Header-Nav {
    display: flex;
    height: fit-content;
    background-color: white;
    position: fixed;
    width: 100vw;
    align-items: center;
    border-bottom: black 3px solid;
    z-index: 1000;
    justify-content: space-between;
}

.First-Half h1 {
    color: black;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 5px;
    border-radius: 3px;
    font-size: 25px;
    margin-left: 0;
    cursor: pointer;
}

.First-Half {
    display: flex;
    flex-direction: row;
}

.Second-Half {
    display: flex;
    flex-direction: row;
}

.Second-Half p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 18px;
    margin-right: 25px;
    cursor: pointer;
}

#Home {
    text-decoration: underline black 3px solid;
}

.Main-Content-Wrapper {
    margin-top: 50px;
}

.Section-Container {
    margin: 20px;
    padding: 20px;
    border: black 3px solid;
    border-radius: 7px;
    background-color: white;
    text-align: center;
    scroll-margin-top: 70px;
}

.Sets-Section-Container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
}

.Sets-Section {
    border: black 3px solid;
    border-radius: 7px;
    padding: 10px;
    width: fit-content;
    text-align: center;
    margin: 5px;
}

.Sets {
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
}

.S {
    margin-top: 20px;
}

.Set {
    margin: 2px;
}

.Sets-Img {
    border: black 3px solid;
    width: 385px;
    margin-bottom: 10px;
}

.Minifigures {
    border: black 3px solid;
    border-radius: 7px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: space-between;
    margin-left: 15px;
    margin-right: 15px;
}

.Minifigure {
    background-color: transparent;
    text-align: center;
    border: black 3px solid;
    font-weight: bold;
    margin-top: 5px;
    cursor: pointer;
    height: fit-content;
    margin-left: 2px;
}

.StartingOnes {
    margin-top: 0;
    display: block;
}

.Minifigure p {
    align-items: center;
    padding: 8px;
}

.Section-Title {
    font-size: 13px;
    margin-bottom: 10px;
}

.Minifigure-Img {
    border-bottom: black 3px solid;
    width: 110px;
}

.Hide {
    display: none;
}

.Show {
    display: block;
}

.Set-Btn {
    width: 80px;
    padding: 4px;
    margin: 3px;
    background-color: black;
    border: black 3px solid;
    border-radius: 3px;
    color: white;
    font-family: monospace;
    font-weight: bold;
    transition: 0.6s;
}

.Set-Btn:hover {
    background-color: white;
    color: black;
}

.Hero {
    border: none;
    margin-bottom: 0;
    display: none;
}

.Hero-Container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 150px;
    margin-top: 0;
    margin-bottom: 0;
}

.Hero-Container h1 {
    font-family: monospace;
    font-size: 50px;
}

.Hero-Container p {
    font-size: 18px;
}

.BG {
    background-color: white;
}

.BR {
    background-color: white;
}

.MF {
    background-color: white;
}

.Minifigure-Viewer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.Left-Tri {
    width: 0;
    height: 0;
    border: 0;
    background-color: transparent;
    border-top: 40px solid transparent;
	border-right: 45px solid black;
	border-bottom: 40px solid transparent;
    transition: 0.2s;
    cursor: pointer;
}

.Right-Tri {
    width: 0;
    height: 0;
    border: 0;
    background-color: transparent;
    border-top: 40px solid transparent;
	border-left: 45px solid black;
	border-bottom: 40px solid transparent;
    transition: 0.2s;
    cursor: pointer;
}

.Minifigure-Viewer-Container {
    display: flex;
    flex-direction: column;
}

.Sets-Carousel-Holder {
    display: flex;
    flex-direction: row;
    padding: 20px;
    margin: 15px;
    border: black 3px solid;
    border-radius: 7px;
}

.Sets-Carousel-Container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    align-items: center;
}

.Sets-Carousel-Img {
    width: 200px;
    margin-bottom: 10px;
    margin-top: 10px;
    border: black 2px solid;
}

.Sets-Carousel {
    border: black 2px solid;
    padding: 10px;
    border-radius: 7px;
    margin: 5px;
}

.Footer {
    border-top: black 3px solid;
    padding: 20px;
    font-family: monospace;
}

.First-Part {
    font-size: 16px;
    margin-bottom: 20px;
}

.Second-Part p {
    font-size: 15px;
    margin-bottom: 5px;
    margin-left: 25px;
}

.Second-Part p:hover {
    text-decoration: underline black 2px solid;
    cursor: pointer;
}

.Third-Part {
    font-size: 16px;
    margin-top: 20px;
}

footer div {
    margin: 10px;
}

footer {
    margin-bottom: 350px;
}

.Set-Btn-Carousel {
    width: 80px;
    padding: 4px;
    margin: 3px;
    background-color: white;
    border: black 2px solid;
    border-radius: 3px;
    color: black;
    font-family: monospace;
    font-weight: bold;
    transition: 0.6s;
}

.Set-Btn-Carousel:hover {
    background-color: black;
    color: white;
}

.Heads-Container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.Heads-Img {
    width: 150px;
    border: black 3px solid;
    margin: 5px;
    margin-top: 10px;
}

.Brick-Heads-Container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.Brick-Heads-Img {
    width: 177px;
    border: black 3px solid;
    margin: 5px;
}

.Space-Filler-Con {
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.Space-Filler {
    width: 300px;
}

.Remove-Margin {
    margin-top: 0;
    margin-bottom: 0;
}

.Upside-Down {
    rotate: 180deg;
}

.Collective-Btn {
    background-color: white;
    border: none;
    border-radius: 5px;
    margin: 5px;
    margin-right: 0;
    cursor: pointer;
}

.Collective-Img {
    width: 35px;
    height: 35px;
    margin: 1px;
    margin-bottom: -2px;
}

.AboutUsCon {
    border: black 3px solid;
    width: 100%;
    padding: 50px;
    margin: 5px;
    padding-top: 30px;
    padding-bottom: 70px;
}

.AboutUsText {
    font-size: 17px;
    font-weight: 500;
    font-family: monospace;
}

.Contact-And-Farewell {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Contact-Us {
    display: flex;
    flex-direction: column;
    padding: 30px;
    border: black 3px solid;
    margin: 10px;
    min-width: 500px;
    border-radius: 5px;
}

.Contact-Us-Text {
    font-family: monospace;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
}

form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 15px;
}

form input {
    display: block;
    margin-bottom: 10px;
    height: 50px;
    background-color: white;
    border: black 3px solid;
    border-radius: 3px;
    font-family: monospace;
    padding-left: 20px;
}

form input:focus {
    outline: none;
}

input::placeholder {
    color: inherit;
    font-weight: bold;
    font-family: monospace;
}

textarea::placeholder {
    color: inherit;
    font-weight: bold;
    font-family: monospace;
}

form textarea {
    padding: 20px;
    display: block;
    margin-bottom: 20px;
    border: black 3px solid;
    height: 50px;
    resize: none;
}

form textarea:focus {
    outline: none
}

form button {
    height: 50px;
    background-color: black;
    border: none;
    font-family: monospace;
    font-size: 19px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.4s;
}

form button:hover {
    background-color: white;
    border: black 3px solid;
    color: black;
}

.Farewell-Img-Con {
    display: flex;
    flex-direction: row;
}

.Farwell-Img {
    width: 300px;
    margin: 5px;
}

.Farwell-Img-Smaller {
    width: 200px;
    margin-top: 170px;
    margin-right: 30px;
}

.Farewell {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    justify-content: center;
}

.Farewell h1 {
    font-size: 110px;
}

.SetDes {
    font-family: monospace;
    font-size: 15px;
    margin-top: 10px;
}

.SetDesCon {
    width: 385px;
}

.Menu-Btn {
    display: none;
}

.Menu-Btn-Img {
    width: 40px;
    padding-right: 8px;
}

.Menu {
    display: none;
}

.Menu-Container {
    display: none;
}

@media screen  and (max-width: 500px){
    .Minifigures {
        width: 100%;
    }

    .Second-Half {
        display: none;
    }

    .Minifigure-Img {
        width: 100%;
    }

    .Sets-Section-Container {
        flex-direction: column;
    }

    .Sets-Img {
        width: 290px;
    }

    .SetDesCon {
        width: fit-content;
    }

    .SetDes {
        font-size: 12px;
    }

    .Sets {
        padding: 0;
    }

    .Sets-Carousel-Holder {
        border: none;
        padding: 0;
    }

    .Sets-Carousel {
        border: black 3px black;
    }

    .Sets-Carousel-Img {
        border: black 3px black;
    }

    .Brick-Heads-Img {
        width: 155px;
    }

    .Contact-And-Farewell {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .Contact-Us {
        min-width: 200px;
    }

    .Farwell-Img {
        width: 150px;
        margin-top: 100px;
    }
    
    .Farwell-Img-Smaller {
        width: 100px;
        margin-top: 170px;
    }
    
    .Farewell {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
        justify-content: center;
    }
    
    .Farewell h1 {
        font-size: 50px;
        margin-bottom: 20px;
    }

    footer {
        text-align: center;
    }

    .Menu {
        display: flex;
        flex-direction: column;
        text-align: center;
        background-color: white;
        border-bottom: black 8px solid;
        position: fixed;
        margin-top: 50px;
        width: 100vw;
        padding-top: 50px;
        padding-bottom: 50px;
        font-family: monospace;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
        z-index: 999;
        display: none;
    }

    .Menu h1 {
        font-size: 35px;
        margin-bottom: 10px;
    }

    .Menu p {
        font-size: 20px;
        margin-bottom: 5px;
        font-weight: 700;
    }

    .Menu-Btn {
        display: block;
        border: none;
    }

    .Menu-Container {
        display: block;
    }

    .Show {
        display: block;
        transition: 0.5s;
    }
}